@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif !important;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    text-align: center;
}

.btn {
    padding: 10px 20px;
    border: 1px solid #ddd !important;
    border-radius: 12px;
    background-color: white !important;
    color: #868686 !important;
    font-size: 10px !important;
    font-weight: 700 !important;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    width: 150px !important;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
}

.btn:hover {
    transform: translateY(2px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.10);
    color: white !important;
    background-color: #868686 !important;
}